@css {
    span#more ~ p {
        margin-top: 3%;
    }
    
    .hint--error.hint--top-left:before,
    .hint--error.hint--top-right:before,
    .hint--error.hint--top:before {
        border-top-color: #6a3446;
    }
    
    .hint--error:after {
        background-color: #6a3446;
        text-shadow: 0 -1px 0px #592726;
    }
    
    [character] {
        --dark-mode: hsl(var(--hue), 30%, 30%);
        display: flex;
    }
    
    [character]::before {
        position: absolute;
        margin-left: 75px;
    }
    
    [character] p {
        max-width: calc(100% - 75px);
        margin-left: 75px;
        color: inherit;
    }
    
    :root[theme="dark"] [character] p {
        background: var(--dark-mode);
    }
    
    :root[theme="dark"] [character] p .thought {
        color: #9f9fff;
    }
    
    :root[theme="light"] [character] p {
        background: var(--light-mode);
    }
    
    [character] p:first-child {
        margin-top: 20px;
        border-top-left-radius: 0px;
    }
    
    [character] p:first-child::before {
        position: absolute;
        left: 0;
    }
    
    [character]::after {
        display: none;
        left: 65px;
        top: 37px;
    }
    
    .msr-narration {
        display: flex;
        align-items: center;
        margin: 20px 0px;
        gap: 5px;
    }
    
    .msr-narration::before {
        content: "";
        display: inline-block;
        background: var(--article-text);
        height: 1px;
        width: 15%;
    }
    
    .msr-narration p {
        margin: 0;
    }
    
    @media (max-width: 650px) {
        [character] p {
            margin: 0 0 0.4em 65px;
            padding: 0.72em;
            margin-left: 55px !important;
        }
        [character]::before,
        [character][hidden]::before,
        [character][unknown]::before {
            margin-left: 70px;
            margin-left: 55px !important;
        }
    }
}